sudo: false
language: go

go:
  - 1.18
matrix:
  include:
    - go: 1.18
      script:
        - go get -t -v ./...
        - go test -v -race ./...
  fast_finish: true
install:
  - # this will be handled by the script command below
script:
  # install, confirm formatting, "report suspicious constructs", and test
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d -s .)
  - go tool vet ./...
  - go test -v -race ./...


